# Dzien 1 bootcamp
___
* podstawy linux,
* podstawy python

In [12]:
print("Hello world")

Hello world

## Podstawowe zmienne w Python
* Ciągi znaków (stringi)
* Liczby

### Ciągi znaków

In [13]:
zmienna_znakowa = 'Hello World !'

In [14]:
print(zmienna_znakowa)

Hello World !

In [15]:
zmienna_znakowa2 = "Hello World! 'test'"

In [16]:
print(zmienna_znakowa2)

Hello World! 'test'

In [17]:
zmienna_znakowa3="hello word \"test\"!"

In [18]:
print(zmienna_znakowa3)

hello word "test"!

In [20]:
zmienna_znakowa

'Hello World !'

### Konkatenacja znaków

#### Sposób 1 na konkatenacje znaków
* Sposób stary

In [23]:
# Konkatenacja znaków sposób 1 #
zmienna_znakowa + " Adam"

'Hello World ! Adam'

### Sposób 2

In [27]:
uzytkownik = 'Adam'

In [29]:
zmienna_znakowa

'Hello World !'

In [32]:
print("{} {} ! toja".format(zmienna_znakowa,uzytkownik))

Hello World ! Adam ! toja

In [33]:
print("{ciag_znakow} {uzytkownik} ! toja".format(ciag_znakow=zmienna_znakowa,uzytkownik=uzytkownik))

Hello World ! Adam ! toja

In [35]:
print("{ciag_znakow} {uzytkownik} ! toja".format(uzytkownik=uzytkownik,ciag_znakow=zmienna_znakowa,))

Hello World ! Adam ! toja

#### Sposób 3 - f-stringi
* od wersji 3.6 - wiec moze nie dzialac

In [38]:
f"{zmienna_znakowa} {uzytkownik}"

'Hello World ! Adam'

#### Slicing

In [39]:
zmienna_znakowa[0:2]

'He'

In [42]:
zmienna_znakowa[1:]

'ello World !'

* Proba dostania sie poza zakres wyrzuci nam wyjątek

In [44]:
zmienna_znakowa[16]

IndexError: string index out of range

In [46]:
zmienna_znakowa[2:]

'llo World !'

In [51]:
zmienna_znakowa[2::2]

'loWrd!'

In [53]:
zmienna_znakowa[2::3]

'l r '

* ostatni znak

In [54]:
zmienna_znakowa[-1]

'!'

In [56]:
zmienna_znakowa[-1]=="!"

True

* stringi w pythonie są niemutowalne

In [57]:
zmienna_znakowa[-1]="!"

TypeError: 'str' object does not support item assignment

In [59]:
zmienna_znakowa[-1] != '!'

False

In [60]:
len(zmienna_znakowa)

13

In [61]:
type(zmienna_znakowa)

str

In [63]:
del zmienna_znakowa2

NameError: name 'zmienna_znakowa2' is not defined

In [64]:
del zmienna_znakowa3

* Metody na stringach

In [66]:
zmienna_znakowa.lower()

'hello world !'

In [67]:
zmienna_znakowa.upper()

'HELLO WORLD !'

* Help / manual dla zmiennych

In [68]:
dir(zmienna_znakowa)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [70]:
dir?

In [71]:
lista_uczestnikow='Ewelina, Tomek, Marta'

In [72]:
lista_uczestnikow.find('Tomek')

9

In [76]:
lista_uczestnikow[9:]

'Tomek, Marta'

* Dzielenie ciągu

In [78]:
lista_uczestnikow.split()

['Ewelina,', 'Tomek,', 'Marta']

In [98]:
lista_uczestnikow.split(sep=", ")[1]

'Tomek'

In [100]:
print('Hello \n word')

Hello
 word

wynik_join=lista_uczestnikow.split(', ')

','.join(wynik_join)

','.join(wynik_join)

In [107]:
print(r'Hello \n word')

Hello \n word

In [109]:
print('Hello \t word')

Hello 	 word

## Zmienne liczbowe
* Całkowitoliczbowe,
* Zmiennoprzecinkowe

### Calkowito liczbowe,
* typ __int__

In [111]:
zmienna_liczba = 8

In [112]:
zmienna_liczba

8

In [114]:
type(zmienna_liczba)

int

In [116]:
zmienna_tekstowa='8'

In [118]:
print(zmienna_liczba)

8

In [120]:
print(zmienna_tekstowa)

8

## Operacje na zmiennych liczbowyc

In [121]:
zmienna_liczba + 3

11

In [125]:
zmienna_liczba += 3

In [126]:
zmienna_liczba

17

In [128]:
zmienna_tekstowa +3

TypeError: must be str, not int

In [130]:
zmienna_tekstowa+'3'

'83'

In [132]:
zmienna_liczba*2

34

In [134]:
zmienna_tekstowa*3

'888'

In [135]:
dir(zmienna_liczba)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [136]:
pierwszy_uczestnik="Ania"

In [137]:
drugi_uczestnik="Tomek"

In [ ]:
#to wazne

In [138]:
pierwszy_uczestnik,drugi_uczestnik=drugi_uczestnik,pierwszy_uczestnik

In [139]:
pierwszy_uczestnik

'Tomek'

In [140]:
drugi_uczestnik

'Ania'

In [142]:
3^2

1

In [143]:
2**3

8

In [147]:
import math
math.sqrt(16)

4.0

In [148]:
math.pow(4,2)

16.0

In [149]:
37//6

6

In [150]:
112%3

1

### Typ zmiennoprzecinkowy
* typ float

In [151]:
zmienna_float = 3.14

In [153]:
zmienna_e=2.71

In [154]:
type(zmienna_e)

float

In [155]:
math.e

2.718281828459045

In [156]:
round(math.e)

3

In [158]:
round?

In [159]:
round(math.e,0)

3.0

In [160]:
type(round(math.e))

int

In [161]:
type(round(math.e,0))

float

In [162]:
round(14.5)

14

In [163]:
round(3.5)

4

In [164]:
round(14.1)

14

In [165]:
round(14.6)

15

### Konwersja typow

In [166]:
zmienna_float

3.14

In [167]:
int(zmienna_float)

3

* zmiana floata na integer

In [168]:
float(3)

3.0

### Listy
* Słuzy do zapisania wielu elementów np. wielu liczb załkowitych

In [172]:
lista=[2,1,5,11]

In [173]:
lista

[2, 1, 5, 11]

In [174]:
type(lista)

list

* slicing na listach

In [175]:
lista[1:3]

[1, 5]

In [178]:
len(lista)

4

In [179]:
1 in lista

True

In [180]:
6 in lista

False

In [181]:
6 not in lista

True

In [183]:
lista.append(-8)

In [184]:
lista

[2, 1, 5, 11, -8]

In [185]:
lista.sort()

* sortowanie

In [186]:
lista

[-8, 1, 2, 5, 11]

In [188]:
lista.sort(reverse=True)

In [189]:
lista

[11, 5, 2, 1, -8]

In [190]:
sorted(lista)

[-8, 1, 2, 5, 11]

In [191]:
lista

[11, 5, 2, 1, -8]

In [193]:
lista_plac = [ 4000, 5000, 3000, 8000]
8000 in lista_plac
len(lista_plac)
lista_plac.pop()

8000

In [194]:
pop?

Object `pop` not found.

In [196]:
lista_plac

[4000, 5000, 3000]

In [197]:
lista_plac.append(3000)
lista_plac.extend([20000, 15000])

In [198]:
lista_plac

[4000, 5000, 3000, 3000, 20000, 15000]

In [199]:
!whoami?

Object `whoami` not found.

In [200]:
!whoami

Ewel

In [201]:
!ls

Dzien1.ipynb Moje         README.md

In [202]:
zmienna=!whoami

In [203]:
zmienna

['Ewel']

In [206]:
string=('Zalogowany jestes jako: {}'.format(zmienna[0]))

In [207]:
print(string)

Zalogowany jestes jako: Ewel

In [208]:
!ls

Dzien1.ipynb Moje         README.md

In [209]:
!ls | wc

       3       3      28

In [211]:
!cd Moje

In [212]:
!ls

Dzien1.ipynb Moje         README.md

In [213]:
!ls -a

.                  .git               .ipynb_checkpoints Moje
..                 .gitignore         Dzien1.ipynb       README.md

In [214]:
!ls -al

total 96
drwxr-xr-x   8 Ewel  staff    272 Oct 14 12:30 .
drwxr-xr-x+ 42 Ewel  staff   1428 Oct 14 09:48 ..
drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git
-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore
drwxr-xr-x   3 Ewel  staff    102 Oct 13 16:02 .ipynb_checkpoints
-rw-r--r--   1 Ewel  staff  40800 Oct 14 12:30 Dzien1.ipynb
drwxr-xr-x   2 Ewel  staff     68 Oct 13 14:44 Moje
-rw-r--r--   1 Ewel  staff     13 Oct 13 16:05 README.md

In [217]:
moj=!ls -al

In [218]:
moj

['total 96',
 'drwxr-xr-x   8 Ewel  staff    272 Oct 14 12:30 .',
 'drwxr-xr-x+ 42 Ewel  staff   1428 Oct 14 09:48 ..',
 'drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git',
 '-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore',
 'drwxr-xr-x   3 Ewel  staff    102 Oct 13 16:02 .ipynb_checkpoints',
 '-rw-r--r--   1 Ewel  staff  40800 Oct 14 12:30 Dzien1.ipynb',
 'drwxr-xr-x   2 Ewel  staff     68 Oct 13 14:44 Moje',
 '-rw-r--r--   1 Ewel  staff     13 Oct 13 16:05 README.md']

In [219]:
len(moj)

9

In [222]:
aa=!pwd

In [225]:
print("W sciezce {sciezka} jest {n} plikow".format(sciezka=aa[0],n=len(moj)))

W sciezce /Users/Ewel/code jest 9 plikow

In [239]:
ls -al | grep .git

drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git/
-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore

In [227]:
ls -al | grep .git/

drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git/

In [230]:
ls -al | grep .git/ -v

total 112
drwxr-xr-x   8 Ewel  staff    272 Oct 14 12:36 ./
drwxr-xr-x+ 42 Ewel  staff   1428 Oct 14 09:48 ../
-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore
drwxr-xr-x   3 Ewel  staff    102 Oct 13 16:02 .ipynb_checkpoints/
-rw-r--r--   1 Ewel  staff  45140 Oct 14 12:36 Dzien1.ipynb
drwxr-xr-x   2 Ewel  staff     68 Oct 13 14:44 Moje/
-rw-r--r--   1 Ewel  staff     13 Oct 13 16:05 README.md

In [248]:
zmienna=!ls -al | grep .git/ -v

In [246]:
zmienna

['total 112',
 'drwxr-xr-x   8 Ewel  staff    272 Oct 14 13:42 .',
 'drwxr-xr-x+ 42 Ewel  staff   1428 Oct 14 09:48 ..',
 'drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git',
 '-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore',
 'drwxr-xr-x   3 Ewel  staff    102 Oct 13 16:02 .ipynb_checkpoints',
 '-rw-r--r--   1 Ewel  staff  46336 Oct 14 13:42 Dzien1.ipynb',
 'drwxr-xr-x   2 Ewel  staff     68 Oct 13 14:44 Moje',
 '-rw-r--r--   1 Ewel  staff     13 Oct 13 16:05 README.md']

In [252]:
zmienna

['total 112',
 'drwxr-xr-x   8 Ewel  staff    272 Oct 14 13:44 .',
 'drwxr-xr-x+ 42 Ewel  staff   1428 Oct 14 09:48 ..',
 'drwxr-xr-x  13 Ewel  staff    442 Oct 14 09:55 .git',
 '-rw-r--r--   1 Ewel  staff     20 Oct 13 16:14 .gitignore',
 'drwxr-xr-x   3 Ewel  staff    102 Oct 13 16:02 .ipynb_checkpoints',
 '-rw-r--r--   1 Ewel  staff  47323 Oct 14 13:44 Dzien1.ipynb',
 'drwxr-xr-x   2 Ewel  staff     68 Oct 13 14:44 Moje',
 '-rw-r--r--   1 Ewel  staff     13 Oct 13 16:05 README.md']

In [253]:
type(zmienna)

IPython.utils.text.SList

### Tuple
* jest to niemutowalna lista

In [254]:
dni=('pon','wt','sr','czw','pt')

In [255]:
len(dni)

5

In [256]:
dni[1]

'wt'

In [257]:
lista[0]

11

In [258]:
del lista[0]

In [259]:
lista

[5, 2, 1, -8]

In [260]:
del dni[0]

TypeError: 'tuple' object doesn't support item deletion

### Slowniki

In [261]:
slownik={}

In [262]:
type(slownik)

dict

In [263]:
slownik

{}

In [269]:
slownik={1: 'Ewelina', 22: 'Tomek', 3: 'Marta'}

In [266]:
print(slownik)

{1: 'Ewelina', 2: 'Tomek', 3: 'Marta'}

In [267]:
slownik[1]

'Ewelina'

In [268]:
slownik[0]

KeyError: 0

In [270]:
slownik[22]

'Tomek'

In [271]:
slownik.keys()

dict_keys([1, 22, 3])

In [272]:
slownik.values()

dict_values(['Ewelina', 'Tomek', 'Marta'])

In [273]:
slownik.items()

dict_items([(1, 'Ewelina'), (22, 'Tomek'), (3, 'Marta')])

In [274]:
type(slownik.items())

dict_items

In [275]:
slownik[12]='Adam'

In [276]:
slownik

{1: 'Ewelina', 22: 'Tomek', 3: 'Marta', 12: 'Adam'}

In [277]:
del slownik[12]

In [278]:
slownik

{1: 'Ewelina', 22: 'Tomek', 3: 'Marta'}

# Sety

In [279]:
moj_zbior={1,2,4,5,4}

In [281]:
moj_zbior

{1, 2, 4, 5}

In [282]:
moja_lista={1,2,4,5,4}

* usuwanie duplikatow

In [283]:
list(set(moja_lista))

[1, 2, 4, 5]

In [285]:
A = {1,2,2,3,9}
B = {3,9,6,7,8}

In [286]:
A

{1, 2, 3, 9}

In [287]:
# suma zbiorow
A|B

{1, 2, 3, 6, 7, 8, 9}

In [288]:
A-B

{1, 2}

In [289]:
B-A

{6, 7, 8}

In [291]:
A & B

{3, 9}

# Wartosc pusta
* analogicznie do nulla

In [292]:
A = None
temperatury= [17,20,21,18,30,None]

In [293]:
A

In [294]:
type(A)

NoneType

In [295]:
str(A)

'None'

In [297]:
temperatury.sort()

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [298]:
sort?

Object `sort` not found.

In [299]:
.sort?

Object `sort` not found.

In [ ]:
.sort

In [300]:
temperatury.sort?

In [301]:
temperatury.remove(None)

In [302]:
temperatury.sort()

In [303]:
temperatury

[17, 18, 20, 21, 30]

In [304]:
sum(temperatury)

106

In [305]:
min(temperatury)

17

In [306]:
max(temperatury)

30

In [307]:
import statistics

In [308]:
statistics.mean(temperatury)

21.2

In [309]:
statistics.median(temperatury)

20


# Instrukcje warunkowe
* sterowanie wyk0onaniem programu ify

In [313]:
a=3
b=4
if a<b:
    print('Zmienna a jest mniejsza od b')
elif a>b:
    print('Zmienna a jest wieksza od b')
else:
    print('Zmienna a jest rowna b')

Zmienna a jest mniejsza od b

In [314]:
imie='Ewelina'

In [315]:
wzrost='161'

In [316]:
waga='46'

In [320]:
def bmi (wzrost,waga):
    bmi=waga/wzrost**2
    print(bmi)
    if bmi< 18.5:
        print('Uwaga! Masz niedowage')
    elif bmi<24.99:
        print('Prawidłowy BMI')
    else:
        print('Uwaga! Masz nadwage')

In [329]:
bmi(1.61,48)

18.517804097064154
Prawidłowy BMI

In [331]:
bmi(1.88,80)

Tomku, umysl juz nie ten! Pozostalo Ci tylko pakowac - nadwaga!!!

# Pętle
* for
* while

In [333]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [334]:
type(range(10))

range

In [336]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [337]:
temperatury

[17, 18, 20, 21, 30]

In [340]:
for element in temperatury:
    print('Temperatura wynosi {}'.format(element))

Temperatura wynosi 17
Temperatura wynosi 18
Temperatura wynosi 20
Temperatura wynosi 21
Temperatura wynosi 30

# PETLA WHILE

In [341]:
i = 0
while i <10:
    print('Zmienna i wynosi {}'.format(i))
    i+=1

Zmienna i wynosi 0
Zmienna i wynosi 1
Zmienna i wynosi 2
Zmienna i wynosi 3
Zmienna i wynosi 4
Zmienna i wynosi 5
Zmienna i wynosi 6
Zmienna i wynosi 7
Zmienna i wynosi 8
Zmienna i wynosi 9

# List comprehension

* po staremu bylo tak

In [343]:
lista_elementow=[]

In [344]:
for i in range(100):
    lista_elementow.append(i)

In [346]:
len(lista_elementow)

100

In [347]:
enumerate?

In [348]:
enumerate(lista_elementow)

In [349]:
lista_elementow=[]
for i in range(100):
    lista_elementow.append(i**2)

* nowa metoda - list comperhension

In [359]:
[i**2 for i in range(50) if not i%2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304]

In [360]:
[i**2 for i in range(50) if not (i**2) %2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304]

In [361]:
[i**2 if not i%2 else 0 for i in range(50)]

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0]

In [362]:
[i**2 if not i**2%3 for i in range(1:40)]

SyntaxError: invalid syntax (<ipython-input-362-85512aedc825>, line 1)

In [365]:
[i**2 for i in range(1,40) if not (i**2)%3]

[9, 36, 81, 144, 225, 324, 441, 576, 729, 900, 1089, 1296, 1521]

In [379]:
aa=[i**2 for i in range(1,40) if not ((i**2)+1)%3]

In [378]:
aa

[]

In [368]:
aa=[i**2 if not i%2 else -300 for i in range(1,40) ]

In [369]:
sum(aa)

3880

In [371]:
aa=[i**2 for i in range(1,40) if not i%2]

# Dictionary comprehension

In [380]:
{i: 65+i for i in range(4)}

{0: 65, 1: 66, 2: 67, 3: 68}

In [381]:
{i: chr(65+i) for i in range(4)}

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

# Funkcje

In [382]:
def funkcja():
    print('Pierwsza funkcja')

In [388]:
a=funkcja()

Pierwsza funkcja

In [389]:
def funkcja():
    print('Pierwsza funkcja')
    return 'Pierwsz funkcja'

In [390]:
funkcja()

Pierwsza funkcja

'Pierwsz funkcja'

In [391]:
a=funkcja()

Pierwsza funkcja

In [392]:
a

'Pierwsz funkcja'

In [395]:
def suma_dwoch_liczb(a,b):
    return a+b

In [397]:
c=suma_dwoch_liczb(1,2)

In [398]:
c

3

In [400]:
def oblicz_wartosc_fliniowej(x,a=1,b=0):
    return a*x + b

In [401]:
oblicz_wartosc_fliniowej(5,2)

10

In [403]:
def imie(imie):
    return imie

In [405]:
imie("Ewelina")

'Ewelina'

In [406]:
imie("Ewelina")==None

False

In [410]:
def bmi (imie,wzrost,waga):
    bmi=waga/wzrost**2
    print(bmi)
    if bmi< 18.5:
        print('{imie} Uwaga! Masz niedowage'.format(imie=imie))
    elif bmi<24.99:
        print('Prawidłowy BMI')
    else:
        print('Uwaga! Masz nadwage')

In [411]:
bmi("Tomek",161,46)

0.001774622892635315
Tomek Uwaga! Masz niedowage

In [418]:
def suma_zarobkow(dzial, lista_zarobkow):
    aa=round(sum(lista_zarobkow)/len(lista_zarobkow))
    return('Srednia zarobkow dzialu: {dzial} wynosi {aa}'.format(dzial=dzial,aa=aa))

In [419]:
suma_zarobkow("administracja",[400.60,900])

'Srednia zarobkow dzialu: administracja wynosi 650'

In [420]:
a=suma_zarobkow("administracja",[400.60,900])

In [421]:
a

'Srednia zarobkow dzialu: administracja wynosi 650'